
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section FooterScript{
    <script src="~/Areas/Admin/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Areas/Admin/Scripts/mustache.min.js"></script>
    <script src="~/App/User/User.js"></script>
}
<div class="card-header">
    <h3 class="card-title">Danh sách tài khoản người dùng</h3>
    <br />
    <div style="display:flex;align-items:center">
        <button type="submit" style="margin-right:5px" class="btn btn-success">Thêm Mới</button>
        <button type="submit" style="margin-right:5px" class="btn btn-dark">Tìm Kiếm</button>
        <input type="text" name="name" value="" class="form-group" placeholder="Tìm kiếm ..." style="margin-top:16px;height:38px;width:250px;padding-left:12px;border-radius:5px; outline:none; border:none;border:1px solid #808080" ; />
    </div>
</div>
<!-- /.card-header -->
<div class="card-body">
    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">
                            <th>Tài Khoản</th>
                            <th>Họ Tên</th>
                            <th>Email</th>
                            <th>Điện Thoại</th>
                            <th>Địa Chỉ</th>
                            <th>Trạng Thái</th>
                            <th>Tùy Chọn</th>
                        </tr>
                    </thead>
                    <tbody id="data-table">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <ul class="pagination" id="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr role="row" class="odd">
        <td>{{UserName}}</td>
        <td>{{Name}}</td>
        <td>{{Email}}</td>
        <td>{{Phone}}</td>
        <td>{{Address}}</td>
        <td>{{{Status}}}</td>
    </tr>
</script>
